<ion-header no-border>
  <ion-navbar hideBackButton color="primary">
      <ion-title>
          Upload Item Image
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-color" padding>
  <img [src]=base64img class="square" *ngIf="base64img!=''">
  <div class="square" *ngIf="base64img==''">
    <button class="camera-circle" ion-button style="margin-top:427px;z-index:20" (click)="imageCapturedGallery()">
      <ion-icon name="images" style="color:#000 !important"></ion-icon>
    </button>
    <button class="camera-circle" ion-button style="margin-top:427px;z-index:20" (click)="imageCaptured()">
      <ion-icon name="camera" style="color:#000 !important"></ion-icon>
    </button>
  </div>

  <div class="button-row">
    <button class="zoom" ion-button icon-only style="margin-right:25%;float: left;" (click)="clear()" *ngIf="base64img!=''">
      <ion-icon class="zoom-btn" name="close"></ion-icon>
    </button>
    <button class="zoom" ion-button icon-only style="margin-left:25%;float: right;" (click)="nextPage()"
      *ngIf="base64img!=''">
      <ion-icon class="zoom-btn" name="arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>